*{
    color:aliceblue;
    font-family: sans-serif;
    box-sizing: border-box;
  
}

.logo{
    width: 80px;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor-principal{
    width: 300px;
    height: 550px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,0,255,0.25522041763341063) 51%, rgba(9,9,121,1) 97%);
}

button{
    border: 1px solid rebeccapurple;
    width: 80px;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,0,255,0.25522041763341063) 51%, rgba(9,9,121,1) 97%);

}

.contenedor-categorias{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 

}